/* default styles for extension "tx_hofexpressapp" */
    textarea.f3-form-error {
        background-color:#FF9F9F;
        border: 1px #FF0000 solid;
    }

    input.f3-form-error {
        background-color:#FF9F9F;
        border: 1px #FF0000 solid;
    }

    .tx-hofexpress-app table {
        border-collapse:separate;
        border-spacing:10px;
    }

    .tx-hofexpress-app table th {
        font-weight:bold;
    }

    .tx-hofexpress-app table td {
        vertical-align:top;
    }

    .typo3-messages .message-error {
        color:red;
    }

    .typo3-messages .message-ok {
        color:green;
    }
