<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Food</h1>

    <f:flashMessages />

    <table  class="tx_hofexpressapp" >
        <tr>
            <th><f:translate key="tx_hofexpressapp_domain_model_food.food_name" /></th>
            <th><f:translate key="tx_hofexpressapp_domain_model_food.price" /></th>
            <th><f:translate key="tx_hofexpressapp_domain_model_food.food_type" /></th>
            <th><f:translate key="tx_hofexpressapp_domain_model_food.image" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{foods}" as="food">
            <tr>
                <td><f:link.action action="show" arguments="{food : food}">{food.foodName}</f:link.action></td>
                <td><f:link.action action="show" arguments="{food : food}">{food.price}</f:link.action></td>
                <td><f:link.action action="show" arguments="{food : food}">{food.foodType}</f:link.action></td>
                <td><f:link.action action="show" arguments="{food : food}">{food.image -> f:count()} image</f:link.action></td>
                <td><f:link.action action="edit" arguments="{food : food}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{food : food}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Food</f:link.action>
</f:section>
</html>
