<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for RestaurantMenu</h1>

    <f:flashMessages />

    <table  class="tx_hofexpressapp" >
        <tr>
            <th><f:translate key="tx_hofexpressapp_domain_model_restaurantmenu.name" /></th>
            <th><f:translate key="tx_hofexpressapp_domain_model_restaurantmenu.description" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{restaurantMenus}" as="restaurantMenu">
            <tr>
                <td><f:link.action action="show" arguments="{restaurantMenu : restaurantMenu}">{restaurantMenu.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{restaurantMenu : restaurantMenu}">{restaurantMenu.description}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{restaurantMenu : restaurantMenu}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{restaurantMenu : restaurantMenu}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New RestaurantMenu</f:link.action>
</f:section>
</html>
