<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_hofexpressapp_domain_model_restaurant.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="description">
	<f:translate key="tx_hofexpressapp_domain_model_restaurant.description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="logo">
	<f:translate key="tx_hofexpressapp_domain_model_restaurant.logo" /> <span class="required">(required)</span>
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="address">
	<f:translate key="tx_hofexpressapp_domain_model_restaurant.address" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="address" cols="40" rows="15" /><br />
<label for="restaurantType">
	<f:translate key="tx_hofexpressapp_domain_model_restaurant.restaurant_type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="restaurantType" /><br />
<label for="coverImage">
	<f:translate key="tx_hofexpressapp_domain_model_restaurant.cover_image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
</html>